%h2= title
.badge
  %a(href="/#{language}")
    %img(src="/images/badges/left-top-#{type}.png")
  %pre.code
    :preserve
      &lt;a href="http://rubyconfargentina.org/#{language}">
        &lt;img src="http://rubyconfargentina.org/images/badges/left-top-#{type}.png">
      &lt;/a>

.badge
  %a(href="/#{language}")
    %img(src="/images/badges/rect-2-#{type}.png")
  %pre.code
    :preserve
      &lt;a href="http://rubyconfargentina.org/#{language}">
        &lt;img src="http://rubyconfargentina.org/images/badges/rect-2-#{type}.png">
      &lt;/a>
