!!!
%html
  %head(lang="en-US")
    %title RubyConf Argentina 2011 
    %meta(charset="utf-8")
    %link{ :rel => "stylesheet", :href => "/website.css" }
    %link{ :rel => "home", :href => "/" }
    %link{ :rel => "icon", :href => "/images/favicon.ico" }
    %script{ :src => "http://code.jquery.com/jquery-1.4.2.min.js" }
    %script{ :src => "/javascripts/application.js" }
    /[if lt IE 9]
      %script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
    
  %body
    #wrapper
      #header.rubyconf
        #social
          %img{:alt => "2011", :src => "/images/dc.png"}
      
      #navigation
        %ol
          %li= link_to("Home",            "/")
          %li= link_to("Call for papers", "/#{language}/proposals")
          %li= link_to("Sponsoring",      "/#{language}/sponsoring")
          %li= link_to("Registration",    "/#{language}/registration")
          %li= link_to("About",           "/#{language}/about")

      #content  
        - flashes
        = yield
      
      #footer
        RubyConf Argentina 2011

      = partial :analytics, :skip_translation => true