!!!
%html
  %head(lang="en-US")
    %title RubyConf Argentina 2011 
    %meta(charset="utf-8")
    %link{ :rel => "stylesheet", :href => "/website.css" }
    %link{ :rel => "home", :href => "/" }
    %link{ :rel => "icon", :href => "/images/favicon.ico" }
    %script{ :src => "http://code.jquery.com/jquery.min.js" }
    %script{ :src => "/javascripts/application.js" }
    /[if lt IE 9]
      %script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
    
  %body
    #wrapper
      = partial :header, :skip_translation => true
      
      #navigation
        %ol
          %li= link_to("Inicio",                         "/")
          %li= link_to("Convocatoria", "/#{language}/proposals")
          %li= link_to("Oradores",        "/#{language}/speakers")
          %li= link_to("Sponsoreo",                     "/#{language}/sponsoring")
          %li= link_to("Acerca",                         "/#{language}/about")

      #content  
        - flashes
        = yield
      
      #footer
        = partial :footer, :skip_translation => true

      = erb :analytics
      
