-# coding: utf-8
!!!
%html
  %head(lang="en-US")
    %title RubyConf Argentina 2011 
    %meta(charset="utf-8")
    %link{ :rel => "stylesheet", :href => "/website.css" }
    %link{ :rel => "home", :href => "/" }
    %link{ :rel => "icon", :href => "/images/favicon.ico" }
    %script{ :src => "http://code.jquery.com/jquery-1.4.2.min.js" }
    %script{ :src => "/javascripts/backgroundPosition.js" }
    %script{ :src => "/javascripts/jquery.easing.1.3.js" }
    %script{ :src => "/javascripts/jquery.simplyscroll-1.0.4-min.js" }
    %script{ :src => "/javascripts/application.js" }
    /[if lt IE 9]
      %script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
    
  %body
    #wrapper
      = partial :header, :skip_translation => true
      #navigation
        %ol
          %li= link_to("Home", "/#{language}")
          %li= link_to("Event", "/#{language}/event")
          %li= link_to("Call for papers", "/#{language}/proposals")
          %li= link_to("Speakers", "/#{language}/speakers")
          %li= link_to("Sponsoring", "/#{language}/sponsoring")
          
      #content  
        - flashes

        - @remaining = Date.new(2011, 10, 8)-Date.today
        - unless @remaining < 0
          #alert
            %p
              Just 
              %strong #{ pluralize(@remaining, "day", "days") } 
              left for Early Bird registrations!
              %a{:href => "https://eventioz.com/events/rubyconf-argentina-2011/registrations/new"}
                If you haven't yet, register here now!

        = yield

      #footer
        = partial :footer, :skip_translation => true

      = erb :analytics
