!!!
%html
  %head(lang="en-US")
    %title RubyConf Argentina 2011 
    %meta(charset="utf-8")
    %link{ :rel => "stylesheet", :href => "/website.css" }
    %link{ :rel => "home", :href => "/" }
    %link{ :rel => "icon", :href => "/images/favicon.ico" }
    %script{ :src => "http://code.jquery.com/jquery-1.4.2.min.js" }
    %script{ :src => "/javascripts/application.js" }
    /[if lt IE 9]
      %script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
    
  %body
    #wrapper
      #header.rubyconf
        %a{:href => "/es", :title => "RubyConf Argentina 2011 Homepage"}
          #logo_linking_home
        #languages
          #esp.current
          %a{:href => "/en", :title => "English"}
            #eng

        #social
          %a{:href => "https://github.com/lucasefe/rubyconfar-website", :target => "_blank", :title => "Source Code"}
            .github_icon
          %a{:href => "http://www.twitter.com/RubyConfAr", :target => "_blank", :title => "Seguinos en Twitter"}
            .twitter_icon
          %img{:alt => "2011", :src => "/images/dc.png"}
      
      #navigation
        %ol
          %li= link_to("Inicio",                         "/")
          %li= link_to("Convocatoria", "/#{language}/proposals")
          %li= link_to("Oradores",        "/#{language}/speakers")
          %li= link_to("Sponsoreo",                     "/#{language}/sponsoring")
          %li= link_to("Acerca",                         "/#{language}/about")

      #content  
        - flashes
        = yield
      
      #footer
        = link_to 'Ruby Argentina', "http://ruby.com.ar", :target => 'blank'
        \- 
        = twitter
        \-
        = link_to 'Source Code', "https://github.com/lucasefe/rubyconfar-website", :target => 'blank'
        \- 
        = link_to 'Design by Sz Studios', "http://www.SzStudios.com.ar", :target => 'blank'

      = erb :analytics
      
