#now
  #talks
    - if @now
      .talk
        %h1 Right Now
        %h2
          = @now.title_en
        %h3
          by
          = @now.speaker.name

        %p
          %strong Starts At:
          = @now.starts_at.strftime("%H:%M")
        %p
          %strong Ends At:
          = @now.ends_at.strftime("%H:%M")

    - if @next
      .talk.upcoming
        %h1 Upcoming Talk
        %h2
          = @next.title_en
        %h3
          by
          = @next.speaker.name
        %p
          %strong Starts At:
          = @next.starts_at.strftime("%H:%M")
        %p
          %strong Ends At:
          = @next.ends_at.strftime("%H:%M")

  #pictures
  #buzz
    %ul
  .clear

%script{:src => "http://api.flickr.com/services/rest/?method=flickr.groups.pools.getPhotos&api_key=05f3d70523db679ff7f86ac7e4b18029&group_id=1817972%40N23&per_page=10&format=json"}
