%ul#speakers_box
  %li
    %a{:href => "/#{language}/speakers#mojombo"}
      %img{:src => "/images/speakers/mojombo.jpg"}
  %li
    %a{:href => "/#{language}/speakers#tenderlove"}
      %img{:src => "/images/speakers/tenderlove.png"}
  %li
    %a{:href => "/#{language}/speakers#merbist"}
      %img{:src => "/images/speakers/merbist.png"}
  %li
    %a{:href => "/#{language}/speakers#compay"}
      %img{:src => "/images/speakers/compay.png"}
  %li
    %a{:href => "/#{language}/speakers#chacon"}
      %img{:src => "/images/speakers/chacon.jpg"}
  %li
    %a{:href => "/#{language}/speakers#shugo"}
      %img{:src => "/images/speakers/shugo.png"}
  %li
    %a{:href => "/#{language}/speakers#luislavena"}
      %img{:src => "/images/speakers/luislavena.png"}
  %li
    %a{:href => "/#{language}/speakers#rkh"}
      %img{:src => "/images/speakers/rkh.jpg"}
  
  