-# coding: utf-8
#speakers
  %h1.title Oradores
  %p.desc
    Seguinos en Twitter para mantenerte al d&iacute;a!

  %ul#list_of_speakers
    - Speaker.all.each do |speaker|
      %a{:id => speaker.twitter}
      %li.speaker
        .summary
          .picture
            %img{:src => speaker.picture}
          %ul.links
            %li= twitter "@#{speaker.twitter}", speaker.twitter
            - speaker.links.each do |name, link|
              %li= link_to name, link

        .description
          %h1= speaker.name
          %h2
            de
            %span= speaker.company
          = simple_format(speaker.description_es)

          - unless speaker.talk.nil?
            %h3
              = speaker.talk[:title]
              - unless speaker.talk[:slides].nil?
                %a.slides{ :href => speaker.talk[:slides] } (slides)
            .abstract= simple_format(speaker.talk[:abstract])
        .clear
