#speakers
  %h1.title Oradores
  %h2.headline
    Muchos mas seran anunciados a la brevedad. 
  %p.desc
    Seguinos en Twitter para mantenerte al d&iacute;a!

  %ul#list_of_speakers
    %li.speaker
      .summary
        .picture
          %img{:src => "/images/speakers/tenderlove.png"}

        %ul.links
          %li= twitter "@tenderlove", "tenderlove"
          %li= link_to 'website', "http://tenderlovemaking.com/"
          %li= link_to 'github', 'http://github.com/tenderlove'
          %li= link_to 'rails core', "http://rubyonrails.org/core"
          %li= link_to 'ruby committer', "http://www.ruby-lang.org/"

      .description
        %h1 Aaron Patterson
        %h2
          de
          %span ATTi
        %p
          Cuando no está arruinando la vida de la gente escribiendo software como phuby, enterprise, y neversaydie, Aaron puede ser encontrado escribiendo software de un poco más util, como Nokogiri. 
        %p
          Para mantener su estilo de vida Game Boy, Aaron pasa su días de semana escribiendo software de alta calidad para ATTi. Por la noche es posible encontrarlo haciendo Karaoke, donde se lo puede ver cantar sus éxitos favoritos de soft rock de los años 70 y principios de los 80.
        %hr

    %li.speaker
      .summary
        .picture
          %img{:src => "/images/speakers/chacon.jpg"}
        %ul.links
          %li= twitter "@chacon", "chacon"
          %li= link_to 'website', "http://scottchacon.com/"
          %li= link_to 'github', 'http://github.com/schacon'
          %li= link_to 'git evangelist', "http://git-scm.com/"

      .description
        %h1 
          Scott Chacon
        %h2
          from 
          %span GitHub

        %p
          Scott Chacon es VP de Git en GitHub. Es el autor del libro Pro Git de Apress (progit.org), el PDF Git Internals Peepcode, así como el engargado del mantenimiento de la homepage de Git (git-scm.com) y el Git Community Book.
        %p 
          Scott ha hecho presentaciones por todo el mundo. Linuxconf.au, OSCON, RuPy, Symfony Live, Ruby Kaigi, RailsConf, RubyConf, Scotland on Rails, Euruko, para nombrar algunas. Además entrena a corporaciones de todo el mundo en el uso de Git.
        %p 
          Scott no es actor en Mad Men y se rehúsa a participar del Karaoke.
        %hr

    %li.speaker
      .summary
        .picture
          %img{:src => "/images/speakers/luislavena.png"}
        %ul.links
          %li= twitter "@luislavena", "luislavena"
          %li= link_to 'website', "http://blog.mmediasys.com/"
          %li= link_to 'github', 'http://github.com/luislavena'
          %li= link_to 'ruby installer', 'http://rubyinstaller.org/'

      .description
        %h1 
          Luis Lavena
        %h2
          de 
          %span Area17

        %p
          Durante el día, Luis Laventa es director técnico de AREA 17, trabajando en proyectos en todo el mundo.
        %p
          Por las noches, es el principal desarrollador de RubyInstaller para Windows, sucesor del proyecto conocido como One-Click Installer, y que busca reducir las diferencias para los usuarios de Ruby sobre Windows.
        %p
          Además, ha creado otros proyectos que ayudaron a desarrolladores Ruby en otras plataformas (no sólo Windows) y revisa otras librerías para asegurarse de que sean multiplataforma, buscando compatibilidad más allá del "en mi máquina funciona"
        %p
          Como dice en su cuenta de twitter, puede ser definido como la peor pesadilla de los desarrolladores *nix…
        %p
          Contribuye en RubyGems y recientemente se ha convertido en Ruby-Core commiter como uno de los responsables Ruby del mantenimiento de MinGW.
        %hr

    %li.speaker
      .summary
        .picture
          %img{:src => "/images/speakers/compay.png"}
        %ul.links
          %li= twitter "@compay", "compay"
          %li= link_to 'website', "http://njclarke.com/"
          %li= link_to 'github', 'http://github.com/norman'
          %li= link_to 'babosa', 'https://github.com/norman/babosa'
          %li= link_to 'friendly_id', 'https://github.com/norman/friendly_id'

      .description
        %h1 
          Norman Clarke
        %h2
          de
          %span
            Business Vision S.A.
        %p
          Hombre de letras y números trabajando con Ruby, Lua y otros. Anglo/hispano/lusófilo. Código, lingüística, samba y, por supuesto, cerveza.
        %p
          Trabaja como cofundador y Principal Developer de Ruby Labs. Ruby Labs es una división dentro de Business Vision S.A., una empresa argentina de desarrollo de software, con oficinas en Buenos Aires, La Plata, San Francisco y Miami.
        %p
          Business Vision ha sido exitosa por muchos años, trabajando principalmente con Java y .NET, y ahora les está ayudando a migrar hacia lenguajes dinámicos: primero con Ruby, pero vienen muchos más.
        %p
          Hasta el momento, el programa principalmente con Ruby para el trabajo y con Lua por diversión. En el pasado, ha trabajado un poco con Java y PHP. Es un fan de la programación en general y de las cosas bien hechas, independientemente de la tecnología que usen. Se enfoca en los sistemas de backend y la arquitectura de las aplicaciones web.
    
    %li.speaker
      .summary
        .picture
          %img{:src => "/images/speakers/merbist.png"}
        %ul.links
          %li= twitter "@merbist", "merbist"
          %li= link_to 'website', "http://merbist.com/"
          %li= link_to 'github', 'https://github.com/mattetti'
          %li= link_to 'macruby', 'http://www.macruby.com/'

      .description
        %h1 
          Matt Aimonetti
        %h2
          de
          %span
            Living Social
        %p 
          Matt Aimonetti es un R&D Engineer en LivingSocial donde tiene la oportunidad de probar nuevos proyectos e imaginar el futuro. 

        %p
          Antes de esto, Matt trabajaba en video juegos en Sony Playstation luego de haber trabajado por muchos a&ntilde;os con startups, compa&ntilde;&iacute;as Fortune 100 y compa&ntilde;&iacute;as tradicionales. El ha tenido la oportunidad de haber estado involucrado en proyectos realmente cautivantes en diferentes areas, desde la biotecnolog&iacute;a a los comics, y todo lo que se encuentre en el medio. 

        %p 
          Matt es el autor del libro de MacRuby publicado por O'Reilly http://oreil.ly/macrubybook y ha permanecido activo en la comunidad de Ruby durante muchos a&ntilde;os. Actualmente es parte de equipo de MacRuby, ha desarrollado o contribuido a muchas biblioteca y frameworks Open Source (Merb, Rails, y muchos m&aacute;s) y ha hablado ante grupos de usuarios y conferencias en Estados Unidos. 


        